* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 18px;
  font-family: monospace, sans-serif;
  box-sizing: border-box;
  background-color: #fff;
}
#form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#heading {
  font-size: 3.5em;
}
.input-field {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
}
.todo-input {
  width: 100%;
  padding: 0.6em;
  font-size: 1.3em;
  font-family: monospace, sans-serif;
  border-radius: 5px 0 0 5px;
  border: none;
}
.submit-todo-button {
  padding: 0.8em 1.8em;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: all 350ms ease;
}
.submit-todo-button:hover {
  color: #fff;
  background-color: #202020;
  cursor: pointer;
}
#error-display {
  color: #ff0000;
  font-size: 0.8em;
  font-weight: 700;
  margin: 0.8em 0;
  display: none;
}
.todo-list-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}
.todo-list {
  list-style: none;
  padding: 0.5em;
}
.todo-item {
  display: flex;
  align-items: center;
  margin-bottom: 0.8em;
  padding: 0.2em 0;
  border-bottom: 2px solid transparent;
  transition: border 350ms ease;
}
.todo-item:hover {
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
.todo-item li {
  flex: 1;
  font-size: 1.2em;
}
.todo-item button {
  padding: 0.8em 1em;
  border: none;
  cursor: pointer;
  transition: all 350ms ease;
}
.checkmark {
  color: #00e400;
}
.checkmark:hover {
  color: #fff;
  background-color: #00e400;
}
.trashcan {
  color: #ff0000;
}
.trashcan:hover {
  color: #fff;
  background-color: #ff0000;
}
.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
/* .deleted {
  opacity: 0;
} */
