*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 18px;
    font-family: monospace,sans-serif;
    box-sizing: border-box;
    background-color: #fff;
}
#heading{
    font-size: 3.5em;
    text-align: center;
}
.input-field{
    /* text-align: center; */
    display: flex;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
}
.todo-input{
    width: 100%;
    padding: 9px;
    font-size: 1.3em;
    font-family: monospace,sans-serif;
    border-radius: 5px 0 0 5px;
    border: none;
    /* flex: 1; */
}
.submit-todo-button{
    padding: 0 22px;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}
.todo-list-container{
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}
.todo-list{
    list-style: none;
    padding: 8px;
}
.todo-item{
    display: flex;
    /* justify-content: space-between;
    align-items: center; */
    margin-bottom: 12px;
    padding: 3px 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
.todo-item li{
    flex: 1;
    font-size: 1.2em;
}
.todo-item button{
    padding: 7px 12px;
    border: none;
    cursor: pointer;
}
.checkmark{
    color: #00e400;
}
.trashcan{
    color: #ff0000;
}
